@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --font_family_default: 'Kumbh Sans', Courier, monospace;
}

body{
    font-family: var(--font_family_default);
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;

}

h1 {
    margin: 50px auto;
}

button {
    margin: auto;
    color: white;
    background-color: skyblue;
    border: none;
    padding: 10px;
    border-radius:8px ;
    width: 200px;
    font-family: var(--font_family_default);
    transition: .5s;
}

button:hover {
    transform: translateY(-5%);
    width: 210px;
}


#container_gatinho{
    max-width: 500px;
    max-height: 500px;
    margin: 30px auto;
}

#container_gatinho img{
    max-width: 500px;
    max-height: 500px;            
}